@import url('https://fonts.googleapis.com/css?family=Inter');

.card {
    background-color: black;
    color:white;
    text-align: center;
    

    
}
body {
    font-family: 'Inter';
    font-weight: 100;

}
p {
    color: blueviolet;


}
.location {
    color: hsl(75, 94%, 57%);
}
button {
    color: white;
    background-color: hsl(0, 0%, 20%) ;
    margin: 6px;
    border: 6cap;
    width: 250px;
    padding: 10px;
    border-radius: 10px;

}
img{
    border-radius: 12cs0px;

}